@import 'tailwindcss';
@import './base/base.css';

/* @import 'tailwindcss/components'; */
@import './components/components.css';

/* @import 'tailwindcss/utilities'; */
@import './utilities/utilities.css';

/* @config "../../tailwind.config.js"; */

@theme {
    /* colors */
    --color-text-primary: 'var(--awc-text-primary-color)';
    --color-text-secondary: 'var(--awc-text-secondary-color)';
    --color-background: 'var(--awc-background-color)';

    --color-primary: 'var(--awc-color-primary-main)';
    --color-primary-dark: 'var(--awc-color-primary-dark)';
    --color-primary-light: 'var(--awc-color-primary-light)';
    --color-primary-contrast: 'var(--awc-color-primary-contrast)';
    --color-primary-states-selected: 'var(--awc-color-primary-states-selected)';
    --color-primary-states-hover: 'var(--awc-color-primary-states-hover)';
    --color-primary-states-focus: 'var(--awc-color-primary-states-focus)';
    --color-primary-states-focus-visible: 'var(--awc-color-primary-states-focus-visible)';
    --color-primary-states-outlined-border: 'var(--awc-color-primary-states-outlined-border)';

    --color-secondary: 'var(--awc-color-secondary-main)';
    --color-secondary-dark: 'var(--awc-color-secondary-dark)';
    --color-secondary-light: 'var(--awc-color-secondary-light)';
    --color-secondary-contrast: 'var(--awc-color-secondary-contrast)';
    --color-secondary-states-selected: 'var(--awc-color-secondary-states-selected)';
    --color-secondary-states-hover: 'var(--awc-color-secondary-states-hover)';
    --color-secondary-states-focus: 'var(--awc-color-secondary-states-focus)';
    --color-secondary-states-focus-visible: 'var(--awc-color-secondary-states-focus-visible)';
    --color-secondary-states-outlined-border: 'var(--awc-color-secondary-states-outlined-border)';

    --color-tertiary: 'var(--awc-color-tertiary-main)';
    --color-tertiary-dark: 'var(--awc-color-tertiary-dark)';
    --color-tertiary-light: 'var(--awc-color-tertiary-light)';
    --color-tertiary-contrast: 'var(--awc-color-tertiary-contrast)';
    --color-tertiary-states-selected: 'var(--awc-color-tertiary-states-selected)';
    --color-tertiary-states-hover: 'var(--awc-color-tertiary-states-hover)';
    --color-tertiary-states-focus: 'var(--awc-color-tertiary-states-focus)';
    --color-tertiary-states-focus-visible: 'var(--awc-color-tertiary-states-focus-visible)';
    --color-tertiary-states-outlined-border: 'var(--awc-color-tertiary-states-outlined-border)';

    --color-danger: 'var(--awc-color-danger-main)';
    --color-danger-dark: 'var(--awc-color-danger-dark)';
    --color-danger-light: 'var(--awc-color-danger-light)';
    --color-danger-contrast: 'var(--awc-color-danger-contrast)';
    --color-danger-states-selected: 'var(--awc-color-danger-states-selected)';
    --color-danger-states-hover: 'var(--awc-color-danger-states-hover)';
    --color-danger-states-focus: 'var(--awc-color-danger-states-focus)';
    --color-danger-states-focus-visible: 'var(--awc-color-danger-states-focus-visible)';
    --color-danger-states-outlined-border: 'var(--awc-color-danger-states-outlined-border)';

    --color-warning: 'var(--awc-color-warning-main)';
    --color-warning-dark: 'var(--awc-color-warning-dark)';
    --color-warning-light: 'var(--awc-color-warning-light)';
    --color-warning-contrast: 'var(--awc-color-warning-contrast)';
    --color-warning-states-selected: 'var(--awc-color-warning-states-selected)';
    --color-warning-states-hover: 'var(--awc-color-warning-states-hover)';
    --color-warning-states-focus: 'var(--awc-color-warning-states-focus)';
    --color-warning-states-focus-visible: 'var(--awc-color-warning-states-focus-visible)';
    --color-warning-states-outlined-border: 'var(--awc-color-warning-states-outlined-border)';

    --color-success: 'var(--awc-color-success-main)';
    --color-success-dark: 'var(--awc-color-success-dark)';
    --color-success-light: 'var(--awc-color-success-light)';
    --color-success-contrast: 'var(--awc-color-success-contrast)';
    --color-success-states-selected: 'var(--awc-color-success-states-selected)';
    --color-success-states-hover: 'var(--awc-color-success-states-hover)';
    --color-success-states-focus: 'var(--awc-color-success-states-focus)';
    --color-success-states-focus-visible: 'var(--awc-color-success-states-focus-visible)';
    --color-success-states-outlined-border: 'var(--awc-color-success-states-outlined-border)';

    --color-gray-50: 'var(--awc-color-gray-50)';
    --color-gray-100: 'var(--awc-color-gray-100)';
    --color-gray-200: 'var(--awc-color-gray-200)';
    --color-gray-300: 'var(--awc-color-gray-300)';
    --color-gray-400: 'var(--awc-color-gray-400)';
    --color-gray-500: 'var(--awc-color-gray-500)';
    --color-gray-600: 'var(--awc-color-gray-600)';
    --color-gray-700: 'var(--awc-color-gray-700)';
    --color-gray-800: 'var(--awc-color-gray-800)';
    --color-gray-900: 'var(--awc-color-gray-900)';
    --color-gray-950: 'var(--awc-color-gray-950)';

    --color-red-50: 'var(--awc-color-red-50)';
    --color-red-100: 'var(--awc-color-red-100)';
    --color-red-200: 'var(--awc-color-red-200)';
    --color-red-300: 'var(--awc-color-red-300)';
    --color-red-400: 'var(--awc-color-red-400)';
    --color-red-500: 'var(--awc-color-red-500)';
    --color-red-600: 'var(--awc-color-red-600)';
    --color-red-700: 'var(--awc-color-red-700)';
    --color-red-800: 'var(--awc-color-red-800)';
    --color-red-900: 'var(--awc-color-red-900)';
    --color-red-950: 'var(--awc-color-red-950)';

    --color-green-50: 'var(--awc-color-green-50)';
    --color-green-100: 'var(--awc-color-green-100)';
    --color-green-200: 'var(--awc-color-green-200)';
    --color-green-300: 'var(--awc-color-green-300)';
    --color-green-400: 'var(--awc-color-green-400)';
    --color-green-500: 'var(--awc-color-green-500)';
    --color-green-600: 'var(--awc-color-green-600)';
    --color-green-700: 'var(--awc-color-green-700)';
    --color-green-800: 'var(--awc-color-green-800)';
    --color-green-900: 'var(--awc-color-green-900)';
    --color-green-950: 'var(--awc-color-green-950)';

    --color-orange-50: 'var(--awc-color-orange-50)';
    --color-orange-100: 'var(--awc-color-orange-100)';
    --color-orange-200: 'var(--awc-color-orange-200)';
    --color-orange-300: 'var(--awc-color-orange-300)';
    --color-orange-400: 'var(--awc-color-orange-400)';
    --color-orange-500: 'var(--awc-color-orange-500)';
    --color-orange-600: 'var(--awc-color-orange-600)';
    --color-orange-700: 'var(--awc-color-orange-700)';
    --color-orange-800: 'var(--awc-color-orange-800)';
    --color-orange-900: 'var(--awc-color-orange-900)';
    --color-orange-950: 'var(--awc-color-orange-950)';

    --color-color-01: 'var(--awc-color-color-01-default)';
    --color-color-01-50: 'var(--awc-color-color-01-50)';
    --color-color-01-100: 'var(--awc-color-color-01-100)';
    --color-color-01-200: 'var(--awc-color-color-01-200)';
    --color-color-01-300: 'var(--awc-color-color-01-300)';
    --color-color-01-400: 'var(--awc-color-color-01-400)';
    --color-color-01-500: 'var(--awc-color-color-01-500)';
    --color-color-01-600: 'var(--awc-color-color-01-600)';
    --color-color-01-700: 'var(--awc-color-color-01-700)';
    --color-color-01-800: 'var(--awc-color-color-01-800)';
    --color-color-01-900: 'var(--awc-color-color-01-900)';
    --color-color-01-950: 'var(--awc-color-color-01-950)';

    --color-color-02: 'var(--awc-color-color-02-default)';
    --color-color-02-50: 'var(--awc-color-color-02-50)';
    --color-color-02-100: 'var(--awc-color-color-02-100)';
    --color-color-02-200: 'var(--awc-color-color-02-200)';
    --color-color-02-300: 'var(--awc-color-color-02-300 )';
    --color-color-02-400: 'var(--awc-color-color-02-400)';
    --color-color-02-500: 'var(--awc-color-color-02-500)';
    --color-color-02-600: 'var(--awc-color-color-02-600)';
    --color-color-02-700: 'var(--awc-color-color-02-700)';
    --color-color-02-800: 'var(--awc-color-color-02-800 )';
    --color-color-02-900: 'var(--awc-color-color-02-900 )';
    --color-color-02-950: 'var(--awc-color-color-02-950)';

    --color-color-03: 'var(--awc-color-color-03-default)';
    --color-color-03-50: 'var(--awc-color-color-03-50)';
    --color-color-03-100: 'var(--awc-color-color-03-100)';
    --color-color-03-200: 'var(--awc-color-color-03-200)';
    --color-color-03-300: 'var(--awc-color-color-03-300)';
    --color-color-03-400: 'var(--awc-color-color-03-400)';
    --color-color-03-500: 'var(--awc-color-color-03-500)';
    --color-color-03-600: 'var(--awc-color-color-03-600 )';
    --color-color-03-700: 'var(--awc-color-color-03-700)';
    --color-color-03-800: 'var(--awc-color-color-03-800)';
    --color-color-03-900: 'var(--awc-color-color-03-900)';
    --color-color-03-950: 'var(--awc-color-color-03-950)';

    --color-color-04: 'var(--awc-color-color-04-default)';
    --color-color-04-50: 'var(--awc-color-color-04-50)';
    --color-color-04-100: 'var(--awc-color-color-04-100)';
    --color-color-04-200: 'var(--awc-color-color-04-200)';
    --color-color-04-300: 'var(--awc-color-color-04-300 )';
    --color-color-04-400: 'var(--awc-color-color-04-400)';
    --color-color-04-500: 'var(--awc-color-color-04-500)';
    --color-color-04-600: 'var(--awc-color-color-04-600)';
    --color-color-04-700: 'var(--awc-color-color-04-700)';
    --color-color-04-800: 'var(--awc-color-color-04-800)';
    --color-color-04-900: 'var(--awc-color-color-04-900)';
    --color-color-04-950: 'var(--awc-color-color-04-950)';

    --color-neutral-0: 'var(--awc-color-neutral-0)';
    --color-neutral-50: 'var(--awc-color-neutral-50)';
    --color-neutral-100: 'var(--awc-color-neutral-100)';
    --color-neutral-200: 'var(--awc-color-neutral-200)';
    --color-neutral-300: 'var(--awc-color-neutral-300)';
    --color-neutral-400: 'var(--awc-color-neutral-400)';
    --color-neutral-500: 'var(--awc-color-neutral-500)';
    --color-neutral-600: 'var(--awc-color-neutral-600)';
    --color-neutral-700: 'var(--awc-color-neutral-700)';
    --color-neutral-800: 'var(--awc-color-neutral-800)';
    --color-neutral-900: 'var(--awc-color-neutral-900)';
    --color-neutral-950: 'var(--awc-color-neutral-950)';
    --color-neutral-1000: 'var(--awc-color-neutral-1000)';

    --color-text-accent: 'var(--awc-text-accent-color)';
    --color-transparent: 'var(--awc-color-transparent)';
    --color-tooltip: 'var(--awc-tooltip-color)';
    --color-focus-ring: 'var(--awc-focus-ring-color)';
    --color-input: 'var(--awc-input-color-default)';
    --color-input-hover: 'var(--awc-input-color-hover)';
    --color-input-focus: 'var(--awc-input-color-focus)';
    --color-input-disabled: 'var(--awc-input-color-disabled)';
    --color-input-placeholder: 'var(--awc-input-placeholder-color)';
    --color-input-icon: 'var(--awc-input-icon-color)';
    --color-input-filled: 'var(--awc-input-filled-color)';
    --color-input-label: 'var(--awc-input-label-color)';
    --color-input-help-text: 'var(--awc-input-help-text-color)';
    --color-input-required-content: 'var(--awc-input-required-content-color)';
    --color-input-focus-ring: 'var(--awc-input-focus-ring-color)';

    /* background colors */
    --background-color-overlay: 'var(--awc-overlay-background-color)';
    --background-color-input: 'var(--awc-input-background-color-default)';
    --background-color-input-filled: 'var(--awc-input-filled-background-color)';
    --background-color-input-hover: 'var(--awc-input-background-color-hover)';
    --background-color-input-focus: 'var(--awc-input-background-color-focus)';
    --background-color-input-disabled: 'var(--awc-input-background-color-disabled)';
    --background-color-tooltip: 'var(--awc-tooltip-background-color)';
    --background-color-panel: 'var(--awc-panel-background-color)';
    --background-color-card: 'var(--awc-card-background-color)';

    /* border colors */
    --border-color-panel: 'var(--awc-panel-border-color)';
    --border-color-card: 'var(--awc-card-border-color)';
    --border-color-input: 'var(--awc-input-border-color-default)';
    --border-color-input-hover: 'var(--awc-input-border-color-hover)';
    --border-color-input-focus: 'var(--awc-input-border-color-focus)';
    --border-color-input-disabled: 'var(--awc-input-border-color-disabled)';

    /* font sizes */
    --text-2xsmall: 'var(--awc-font-size-2xsmall)';
    --text-xs: 'var(--awc-font-size-xsmall)';
    --text-xsmall: 'var(--awc-font-size-xsmall)';
    --text-sm: 'var(--awc-font-size-small)';
    --text-small: 'var(--awc-font-size-small)';
    --text-md: 'var(--awc-font-size-medium)';
    --text-medium: 'var(--awc-font-size-medium)';
    --text-lg: 'var(--awc-font-size-large)';
    --text-large: 'var(--awc-font-size-large)';
    --text-xl: 'var(--awc-font-size-xlarge)';
    --text-xlarge: 'var(--awc-font-size-xlarge)';
    --text-2xlarge: 'var(--awc-font-size-2xlarge)';
    --text-3xlarge: 'var(--awc-font-size-3xlarge)';
    --text-4xlarge: 'var(--awc-font-size-4xlarge)';
    --text-5xlarge: 'var(--awc-font-size-5xlarge)';
    --text-6xlarge: 'var(--awc-font-size-6xlarge)';
    --text-7xlarge: 'var(--awc-font-size-7xlarge)';
    --text-8xlarge: 'var(--awc-font-size-8xlarge)';
    --text-9xlarge: 'var(--awc-font-size-9xlarge)';
    --text-10xlarge: 'var(--awc-font-size-10xlarge)';
    --text-base: 'var(--awc-font-size-base)';
    --text-heading1: 'var(--awc-font-size-heading1)';
    --text-heading2: 'var(--awc-font-size-heading2)';
    --text-heading3: 'var(--awc-font-size-heading3)';
    --text-heading4: 'var(--awc-font-size-heading4)';
    --text-heading5: 'var(--awc-font-size-heading5)';
    --text-heading6: 'var(--awc-font-size-heading6)';
    --text-tooltip: 'var(--awc-tooltip-font-size)';
    --text-input-sm: 'var(--awc-input-font-size-small)';
    --text-input-md: 'var(--awc-input-font-size-medium)';
    --text-input-lg: 'var(--awc-input-font-size-large)';
    --text-input-label-sm: 'var(--awc-input-label-font-size-small)';
    --text-input-label-md: 'var(--awc-input-label-font-size-medium)';
    --text-input-label-lg: 'var(--awc-input-label-font-size-large)';
    --text-input-help-text-sm: 'var(--awc-input-help-text-font-size-small)';
    --text-input-help-text-md: 'var(--awc-input-help-text-font-size-medium)';
    --text-input-help-text-lg: 'var(--awc-input-help-text-font-size-large)';

    /* spacing */
    --spacing-top-bar: '48px';
    --spacing-3xsmall: 'var(--awc-spacing-3xsmall)';
    --spacing-2xsmall: 'var(--awc-spacing-2xsmall)';
    --spacing-xsmall: 'var(--awc-spacing-xsmall)';
    --spacing-small: 'var(--awc-spacing-small)';
    --spacing-medium: 'var(--awc-spacing-medium)';
    --spacing-large: 'var(--awc-spacing-large)';
    --spacing-xlarge: 'var(--awc-spacing-xlarge)';
    --spacing-2xlarge: 'var(--awc-spacing-2xlarge)';
    --spacing-3xlarge: 'var(--awc-spacing-3xlarge)';
    --spacing-4xlarge: 'var(--awc-spacing-4xlarge)';
    --spacing-5xlarge: 'var(--awc-spacing-5xlarge)';
    --spacing-6xlarge: 'var(--awc-spacing-6xlarge)';
    --spacing-7xlarge: 'var(--awc-spacing-7xlarge)';
    --spacing-tooltip-arrow: 'var(--awc-tooltip-arrow-size)';
    --spacing-title-text-mobile: 'var(--awc-section-spacing-title-text-mobile)';
    --spacing-title-text-desktop: 'var(--awc-section-spacing-title-text-desktop)';
    --spacing-text-image-mobile: 'var(--awc-section-spacing-text-image-mobile)';
    --spacing-text-image-desktop: 'var(--awc-section-spacing-text-image-desktop)';
    --spacing-headline-title-mobile: 'var(--awc-section-spacing-headline-title-mobile)';
    --spacing-headline-title-desktop: 'var(--awc-section-spacing-headline-title-desktop)';
    --spacing-button-text-mobile: 'var(--awc-section-spacing-button-text-mobile)';
    --spacing-button-text-desktop: 'var(--awc-section-spacing-button-text-desktop)';
    --spacing-button-button-mobile: 'var(--awc-section-spacing-button-button-mobile)';
    --spacing-button-button-desktop: 'var(--awc-section-spacing-button-button-desktop)';
    --spacing-card: 'var(--awc-card-padding)';
    --spacing-input-sm: 'var(--awc-input-spacing-small)';
    --spacing-input-md: 'var(--awc-input-spacing-medium)';
    --spacing-input-lg: 'var(--awc-input-spacing-large)';

    /* gap */
    --gap-medium: 'var(--awc-spacing-medium)';

    /* letter spacing */
    --tracking-input: 'var(--awc-input-letter-spacing)';
    --tracking-normal: 'var(--awc-letter-spacing-normal)';
    --tracking-dense: 'var(--awc-letter-spacing-dense)';
    --tracking-denser: 'var(--awc-letter-spacing-denser)';
    --tracking-loose: 'var(--awc-letter-spacing-loose)';
    --tracking-looser: 'var(--awc-letter-spacing-looser)';

    /* padding */
    --padding-section-mobile: 'var(--awc-section-padding-y-mobile)';
    --padding-section-desktop: 'var(--awc-section-padding-y-desktop)';
    --padding-panel: 'var(--awc-panel-padding)';
    --padding-tooltip-y: 'var(--awc-tooltip-padding-y)';
    --padding-tooltip-x: 'var(--awc-tooltip-padding-x)';

    /*  border width */
    --border-width-card: 'var(--awc-card-border-width)';
    --border-width-panel: 'var(--awc-panel-border-width)';
    --border-width-input: 'var(--awc-input-border-width)';

    /* border radius */
    --radius-none: 'var(--awc-border-radius-none)';
    --radius-small: 'var(--awc-border-radius-small)';
    --radius-medium: 'var(--awc-border-radius-medium)';
    --radius-large: 'var(--awc-border-radius-large)';
    --radius-2xlarge: 'var(--awc-border-radius-2xlarge)';
    --radius-3xlarge: 'var(--awc-border-radius-3xlarge)';
    --radius-xlarge: 'var(--awc-border-radius-xlarge)';
    --radius-circle: 'var(--awc-border-radius-circle)';
    --radius-pill: 'var(--awc-border-radius-pill)';
    --radius-tooltip: 'var(--awc-tooltip-border-radius)';
    --radius-badge: 'var(--awc-badge-border-radius)';
    --radius-button: 'var(--awc-button-border-radius)';
    --radius-tag: 'var(--awc-tag-border-radius)';
    --radius-panel: 'var(--awc-panel-border-radius)';
    --radius-card: 'var(--awc-card-border-radius)';
    --radius-image: 'var(--awc-image-border-radius)';
    --radius-input-sm: 'var(--awc-input-border-radius-small)';
    --radius-input-md: 'var(--awc-input-border-radius-medium)';
    --radius-input-lg: 'var(--awc-input-border-radius-large)';

    /* z-index */
    --z-index-tooltip: 'var(--awc-z-index-tooltip)';
    --z-index-toast: 'var(--awc-z-index-toast)';
    --z-index-dropdown: 'var(--awc-z-index-dropdown)';
    --z-index-dialog: 'var(--awc-z-index-dialog)';
    --z-index-drawer: 'var(--awc-z-index-drawer)';

    /* line height */
    --line-height-normal: 'var(--awc-line-height-normal)';
    --line-height-dense: 'var(--awc-line-height-dense)';
    --line-height-loose: 'var(--awc-line-height-loose)';
    --line-height-looser: 'var(--awc-line-height-looser)';
    --line-height-denser: 'var(--awc-line-height-denser)';
    --line-height-tooltip: 'var(--awc-tooltip-line-height)';
    --line-height-input-sm: 'var(--awc-input-height-small)';
    --line-height-input-md: 'var(--awc-input-height-medium)';
    --line-height-input-lg: 'var(--awc-input-height-large)';

    /* transition duration */
    --transition-duration-xfast: 'var(--awc-transition-xfast)';
    --transition-duration-fast: 'var(--awc-transition-fast)';
    --transition-duration-medium: 'var(--awc-transition-medium)';
    --transition-duration-slow: 'var(--awc-transition-slow)';
    --transition-duration-xslow: 'var(--awc-transition-xslow)';

    /* breakpoints */
    --breakpoint-figma: 'var(--awc-breakpoint-figma)';
    --breakpoint-2xlarge: 'var(--awc-breakpoint-2xlarge)';
    --breakpoint-xlarge: 'var(--awc-breakpoint-xlarge)';
    --breakpoint-large: 'var(--awc-breakpoint-large)';
    --breakpoint-medium: 'var(--awc-breakpoint-medium)';
    --breakpoint-small: 'var(--awc-breakpoint-small)';

    /* font families */
    --font-default: 'var(--awc-font-default-font), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
    --font-heading: 'var(--awc-font-header-font), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
    --font-input: 'var(--awc-input-font-family), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
    --font-tooltip: 'var(--awc-tooltip-font-family), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';

    /* font weights */
    --font-weight-light: var(--awc-font-weight-light);
    --font-weight-normal: var(--awc-font-weight-normal);
    --font-weight-medium: var(--awc-font-weight-medium);
    --font-weight-semibold: var(--awc-font-weight-semibold);
    --font-weight-bold: var(--awc-font-weight-bold);
    --font-weight-input: var(--awc-input-font-weight);
    --font-weight-tooltip: var(--awc-tooltip-font-weight);

    /* shadows */
    --shadow-xsmall: 'var(--awc-shadow-xsmall-x) var(--awc-shadow-xsmall-y) var(--awc-shadow-xsmall-blur) var(--awc-shadow-xsmall-spread) var(--awc-shadow-xsmall-color)';
    --shadow-small: 'var(--awc-shadow-small-x) var(--awc-shadow-small-y) var(--awc-shadow-small-blur) var(--awc-shadow-small-spread) var(--awc-shadow-small-color)';
    --shadow-medium: 'var(--awc-shadow-medium-x) var(--awc-shadow-medium-y) var(--awc-shadow-medium-blur) var(--awc-shadow-medium-spread) var(--awc-shadow-medium-color)';
    --shadow-large: 'var(--awc-shadow-large-x) var(--awc-shadow-large-y) var(--awc-shadow-large-blur) var(--awc-shadow-large-spread) var(--awc-shadow-large-color)';
    --shadow-xlarge: 'var(--awc-shadow-xlarge-x) var(--awc-shadow-xlarge-y) var(--awc-shadow-xlarge-blur) var(--awc-shadow-xlarge-spread) var(--awc-shadow-xlarge-color)';

    /* ring */
    --ring-width-focus: 'var(--awc-focus-ring-width)';
    --ring-offset-width-focus: 'var(--awc-focus-ring-offset)';
    --ring-offset-width-input-focus: 'var(--awc-input-focus-ring-offset)';
    --ring-offset-width-input-required-content: 'var(--awc-input-required-content-offset)';

    /* transition timing function */
    --ease-smooth: 'cubic-bezier(.4, 0, .1, 1)';
}

@utility container {
    padding-inline: 1rem;
    margin-inline: auto;

    @variant sm {
        padding-inline: 2.5rem;
    }

    @variant md {
        padding-inline: 2.25rem;
    }

    @variant lg {
        padding-inline: 2.75rem;
    }

    @variant xl {
        padding-inline: 2.5rem;
    }

    @variant 2xl {
        padding-inline: 3rem;
    }
}

/*   addVariant('is-active', ['&.is-active', '.is-active &']);
            addVariant('is-open', ['&.is-open', '.is-open &']);
            addVariant('visible', ['&.is-visible', '.is-visible &']);
            addVariant('keyboard', '.tab-active &'); */
@custom-variant is-active (&.is-active, .is-active &);
@custom-variant is-open (&.is-open, .is-open &);
@custom-variant visible (&.is-visible, .is-visible &);
@custom-variant keyboard (.tab-active &);
