@layer base {
    html,
    html :where(.editor-styles-wrapper) {
        @apply scroll-smooth font-default text-base leading-normal text-text-secondary;
    }

    @media (prefers-reduced-motion: reduce) {
        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }
}
