@layer base {
  :root,
  :host,
  .awc-theme-light,
  :is([data-mode='dark'] .dark\:awc-theme-light),
  [data-mode='light'] {
    color-scheme: 'light';

    --awc-shadow-medium-spread: 0.25rem;
    --awc-shadow-medium-color: rgba(113, 113, 122, 0.12);
    --awc-color-secondary-states-outlined-border: rgba(254, 209, 46, 0.5);
    --awc-section-padding-y-mobile: 2.5rem;
    --awc-section-padding-y-desktop: 5rem;
    --awc-color-gray-300: rgb(212, 212, 216);
    --awc-color-gray-400: rgb(161, 161, 170);
    --awc-section-padding-x-mobile: 1rem;
    --awc-section-padding-x-desktop: 7.5rem;
    --awc-color-gray-700: rgb(63, 63, 70);
    --awc-color-gray-800: rgb(39, 39, 42);
    --awc-color-tertiary-states-hover: rgba(205, 245, 69, 0.04);
    --awc-color-tertiary-states-selected: rgba(205, 245, 69, 0.08);
    --awc-color-color-01-50: rgb(246, 253, 220);
    --awc-color-color-01-100: rgb(220, 248, 127);
    --awc-color-tertiary-states-focus: rgba(205, 245, 69, 0.12);
    --awc-color-tertiary-states-focus-visible: rgba(205, 245, 69, 0.3);
    --awc-color-color-01-400: rgb(166, 198, 56);
    --awc-color-color-01-500: rgb(143, 171, 48);
    --awc-color-tertiary-states-outlined-border: rgba(205, 245, 69, 0.5);
    --awc-color-transparent: rgba(255, 255, 255, 0);
    --awc-color-color-01-800: rgb(80, 95, 27);
    --awc-color-color-01-900: rgb(57, 68, 19);
    --awc-breakpoint-figma: 90rem;
    --awc-breakpoint-2xlarge: 96rem;
    --awc-color-color-02-50: rgb(255, 249, 230);
    --awc-color-color-02-100: rgb(255, 236, 169);
    --awc-breakpoint-xlarge: 80rem;
    --awc-breakpoint-large: 64rem;
    --awc-color-color-02-400: rgb(221, 182, 40);
    --awc-color-color-02-500: rgb(190, 156, 34);
    --awc-color-success-states-hover: rgba(20, 152, 69, 0.04);
    --awc-color-success-states-selected: rgba(20, 152, 69, 0.08);
    --awc-color-color-02-800: rgb(106, 87, 19);
    --awc-color-color-02-900: rgb(75, 62, 14);
    --awc-color-success-states-focus: rgba(20, 152, 69, 0.12);
    --awc-color-success-states-focus-visible: rgba(20, 152, 69, 0.3);
    --awc-color-color-03-50: rgb(245, 251, 247);
    --awc-color-color-03-100: rgb(229, 238, 236);
    --awc-color-success-states-outlined-border: rgba(20, 152, 69, 0.5);
    --awc-breakpoint-medium: 48rem;
    --awc-color-color-03-400: rgb(160, 193, 184);
    --awc-color-color-03-500: rgb(124, 169, 157);
    --awc-breakpoint-small: 40rem;
    --awc-z-index-tooltip: 1000;
    --awc-color-color-03-800: rgb(20, 101, 79);
    --awc-color-color-03-900: rgb(0, 73, 53);
    --awc-z-index-toast: 950;
    --awc-color-warning-states-hover: rgba(184, 118, 5, 0.04);
    --awc-transition-xslow: 1000ms;
    --awc-font-weight-normal: 400;
    --awc-color-color-03-950: rgb(0, 45, 33);
    --awc-shadow-xlarge-blur: 1rem;
    --awc-color-danger-states-outlined-border: rgba(227, 82, 82, 0.5);
    --awc-color-color-01-200: rgb(198, 237, 67);
    --awc-font-size-3xlarge: 1.875rem;
    --awc-tooltip-arrow-size: 0.375rem;
    --awc-z-index-dropdown: 900;
    --awc-input-required-content: '*';
    --awc-color-gray-100: rgb(244, 244, 245);
    --awc-border-radius-pill: 624.9375rem;
    --awc-color-secondary-states-selected: rgba(254, 209, 46, 0.08);
    --awc-spacing-large: 1.25rem;
    --awc-color-red-600: rgb(227, 82, 82);
    --awc-font-serif: Georgia;
    --awc-color-color-02-600: rgb(157, 129, 28);
    --awc-line-height-loose: 180%;
    --awc-color-orange-100: rgb(248, 235, 211);
    --awc-color-warning-states-selected: rgba(184, 118, 5, 0.08);
    --awc-toggle-size-small: 0.875rem;
    --awc-color-danger-states-hover: rgba(227, 82, 82, 0.04);
    --awc-color-orange-500: rgb(219, 144, 17);
    --awc-border-radius-large: 0.5rem;
    --awc-color-primary-states-focus: rgba(0, 88, 64, 0.12);
    --awc-shadow-medium-x: 0;
    --awc-shadow-xsmall-blur: 0.125rem;
    --awc-focus-ring-width: 0.1875rem;
    --awc-shadow-large-spread: 0.5rem;
    --awc-color-red-200: rgb(248, 214, 214);
    --awc-spacing-2xsmall: 0.25rem;
    --awc-color-gray-500: rgb(113, 113, 122);
    --awc-spacing-4xlarge: 2.25rem;
    --awc-color-green-800: rgb(14, 103, 47);
    --awc-transition-xfast: 50ms;
    --awc-color-color-01-950: rgb(35, 42, 12);
    --awc-font-size-medium: 1rem;
    --awc-color-red-950: rgb(79, 14, 14);
    --awc-font-size-7xlarge: 4.5rem;
    --awc-color-color-03-200: rgb(210, 225, 221);
    --awc-letter-spacing-looser: 0.15em;
    --awc-color-green-50: rgb(245, 251, 247);
    --awc-letter-spacing-denser: -0.03em;
    --awc-toggle-size-large: 1.375rem;
    --awc-color-warning-states-focus-visible: rgba(184, 118, 5, 0.3);
    --awc-color-orange-300: rgb(237, 202, 140);
    --awc-z-index-drawer: 700;
    --awc-input-focus-ring-color: rgba(215, 43, 128, 0.4);
    --awc-color-danger-states-focus: rgba(227, 82, 82, 0.12);
    --awc-color-green-200: rgb(194, 231, 207);
    --awc-border-radius-small: 0.1875rem;
    --awc-color-primary-states-hover: rgba(0, 88, 64, 0.04);
    --awc-border-radius-2xlarge: 1.5rem;
    --awc-color-orange-700: rgb(151, 96, 4);
    --awc-shadow-xsmall-x: 0;
    --awc-color-primary-states-outlined-border: rgba(0, 88, 64, 0.5);
    --awc-shadow-small-spread: 0.125rem;
    --awc-shadow-xsmall-color: rgba(113, 113, 122, 0.06);
    --awc-input-height-small: 1.875rem;
    --awc-shadow-medium-blur: 0.25rem;
    --awc-color-red-50: rgb(254, 248, 248);
    --awc-shadow-large-y: 0.125rem;
    --awc-card-border-width: 0.0625rem;
    --awc-shadow-xlarge-x: 0;
    --awc-color-green-600: rgb(20, 152, 69);
    --awc-shadow-xlarge-color: rgba(113, 113, 122, 0.12);
    --awc-color-secondary-states-focus-visible: rgba(254, 209, 46, 0.3);
    --awc-spacing-small: 0.75rem;
    --awc-color-red-400: rgb(241, 167, 167);
    --awc-spacing-2xlarge: 1.75rem;
    --awc-color-gray-900: rgb(24, 24, 27);
    --awc-spacing-6xlarge: 3rem;
    --awc-color-color-04-950: rgb(49, 35, 41);
    --awc-transition-medium: 250ms;
    --awc-color-color-01-600: rgb(118, 141, 40);
    --awc-font-sans: Poppins;
    --awc-color-red-800: rgb(174, 30, 30);
    --awc-font-size-xsmall: 0.75rem;
    --awc-color-color-02-200: rgb(254, 220, 95);
    --awc-font-size-xlarge: 1.25rem;
    --awc-color-green-950: rgb(6, 45, 21);
    --awc-font-size-5xlarge: 3rem;
    --awc-color-color-02-950: rgb(46, 38, 8);
    --awc-font-size-9xlarge: 5rem;
    --awc-color-gray-200: rgb(228, 228, 231);
    --awc-line-height-dense: 120%;
    --awc-color-color-03-600: rgb(84, 143, 127);
    --awc-letter-spacing-normal: normal;
    --awc-color-color-04-600: rgb(167, 118, 138);
    --awc-font-weight-semibold: 600;
    --awc-color-color-04-50: rgb(255, 247, 251);
    --awc-color-color-04-100: rgb(255, 230, 240);
    --awc-color-orange-200: rgb(243, 219, 178);
    --awc-color-warning-states-focus: rgba(184, 118, 5, 0.12);
    --awc-toggle-size-medium: 1.125rem;
    --awc-color-warning-states-outlined-border: rgba(184, 118, 5, 0.5);
    --awc-color-green-100: rgb(220, 241, 228);
    --awc-z-index-dialog: 800;
    --awc-input-label-color: inherit;
    --awc-line-height-looser: 220%;
    --awc-color-orange-400: rgb(230, 177, 88);
    --awc-color-danger-states-selected: rgba(227, 82, 82, 0.08);
    --awc-input-focus-ring-offset: 0;
    --awc-color-danger-states-focus-visible: rgba(227, 82, 82, 0.3);
    --awc-color-color-04-700: rgb(140, 84, 107);
    --awc-border-radius-none: 0;
    --awc-color-neutral-1000: rgb(0, 0, 0);
    --awc-border-radius-medium: 0.25rem;
    --awc-color-orange-600: rgb(184, 118, 5);
    --awc-border-radius-xlarge: 1rem;
    --awc-color-primary-states-selected: rgba(0, 88, 64, 0.08);
    --awc-border-radius-3xlarge: 2rem;
    --awc-color-green-300: rgb(164, 219, 184);
    --awc-border-radius-circle: 50%;
    --awc-color-primary-states-focus-visible: rgba(0, 88, 64, 0.3);
    --awc-shadow-xsmall-y: 0.0625rem;
    --awc-color-orange-800: rgb(124, 80, 3);
    --awc-shadow-xsmall-spread: 0.125rem;
    --awc-input-border-width: 0.0625rem;
    --awc-shadow-small-blur: 0.125rem;
    --awc-shadow-small-x: 0;
    --awc-input-height-medium: 2.5rem;
    --awc-shadow-small-color: rgba(113, 113, 122, 0.12);
    --awc-color-orange-950: rgb(55, 35, 2);
    --awc-shadow-medium-y: 0.125rem;
    --awc-focus-ring-offset: 0.0625rem;
    --awc-color-gray-50: rgb(249, 249, 249);
    --awc-color-green-500: rgb(66, 180, 108);
    --awc-shadow-large-x: 0;
    --awc-focus-ring-style: solid;
    --awc-shadow-large-blur: 0.5rem;
    --awc-color-red-100: rgb(251, 232, 232);
    --awc-shadow-large-color: rgba(113, 113, 122, 0.12);
    --awc-color-secondary-states-hover: rgba(254, 209, 46, 0.04);
    --awc-shadow-xlarge-y: 0.25rem;
    --awc-color-color-04-900: rgb(83, 44, 59);
    --awc-shadow-xlarge-spread: 1rem;
    --awc-color-secondary-states-focus: rgba(254, 209, 46, 0.12);
    --awc-spacing-3xsmall: 0.125rem;
    --awc-color-red-300: rgb(245, 194, 194);
    --awc-spacing-xsmall: 0.5rem;
    --awc-letter-spacing-dense: -0.015em;
    --awc-spacing-medium: 1rem;
    --awc-color-green-700: rgb(17, 125, 57);
    --awc-spacing-xlarge: 1.5rem;
    --awc-color-gray-600: rgb(82, 82, 91);
    --awc-spacing-3xlarge: 2rem;
    --awc-color-red-500: rgb(235, 129, 129);
    --awc-spacing-5xlarge: 2.5rem;
    --awc-color-gray-950: rgb(19, 19, 22);
    --awc-spacing-7xlarge: 4.5rem;
    --awc-color-color-04-500: rgb(203, 143, 167);
    --awc-transition-slow: 500ms;
    --awc-color-color-01-300: rgb(184, 220, 62);
    --awc-transition-fast: 150ms;
    --awc-color-red-700: rgb(209, 36, 36);
    --awc-font-mono: SFMono-Regular;
    --awc-color-color-01-700: rgb(97, 115, 33);
    --awc-font-heading: Manrope;
    --awc-color-green-900: rgb(10, 73, 33);
    --awc-font-size-2xsmall: 0.625rem;
    --awc-color-color-01-default: rgb(205, 245, 69);
    --awc-font-size-small: 0.875rem;
    --awc-color-red-900: rgb(125, 22, 22);
    --awc-font-size-large: 1.125rem;
    --awc-color-color-02-300: rgb(246, 202, 44);
    --awc-font-size-2xlarge: 1.5rem;
    --awc-color-color-04-default: rgb(254, 179, 210);
    --awc-font-size-4xlarge: 2.25rem;
    --awc-color-color-02-700: rgb(129, 106, 23);
    --awc-font-size-6xlarge: 3.75rem;
    --awc-color-neutral-0: rgb(255, 255, 255);
    --awc-font-size-8xlarge: 4.75rem;
    --awc-color-color-02-default: rgb(254, 209, 46);
    --awc-font-size-10xlarge: 5.25rem;
    --awc-color-orange-50: rgb(253, 249, 242);
    --awc-line-height-normal: 140%;
    --awc-color-color-03-300: rgb(189, 211, 205);
    --awc-line-height-denser: 100%;
    --awc-panel-border-width: 0.0625rem;
    --awc-letter-spacing-loose: 0.075em;
    --awc-color-color-03-700: rgb(49, 120, 101);
    --awc-font-weight-light: 300;
    --awc-color-color-04-300: rgb(254, 188, 215);
    --awc-font-weight-medium: 500;
    --awc-color-color-03-default: rgb(0, 88, 64);
    --awc-font-weight-bold: 700;
    --awc-overlay-background-color: rgba(113, 113, 122, 0.33);
    --awc-color-color-04-200: rgb(254, 210, 229);
    --awc-color-color-04-400: rgb(236, 166, 195);
    --awc-color-color-04-800: rgb(114, 62, 83);
    --awc-color-green-400: rgb(122, 203, 152);
    --awc-color-orange-900: rgb(88, 57, 2);
    --awc-input-height-large: 3.125rem;
    --awc-shadow-small-y: 0.0625rem;
    --awc-color-neutral-50: var(--awc-color-gray-50);
    --awc-input-background-color-default: var(--awc-color-neutral-0);
    --awc-input-background-color-hover: var(--awc-color-neutral-0);
    --awc-input-background-color-focus: var(--awc-color-neutral-0);
    --awc-font-size-heading6: var(--awc-font-size-large);
    --awc-font-size-heading5: var(--awc-font-size-xlarge);
    --awc-focus-ring-color: var(--awc-color-color-01-800);
    --awc-color-secondary-light: var(--awc-color-color-02-400);
    --awc-color-secondary-dark: var(--awc-color-color-02-800);
    --awc-font-size-heading1: var(--awc-font-size-5xlarge);
    --awc-color-danger-contrast: var(--awc-color-neutral-0);
    --awc-color-secondary-main: var(--awc-color-color-02-default);
    --awc-color-primary-contrast: var(--awc-color-neutral-0);
    --awc-color-danger-main: var(--awc-color-red-600);
    --awc-color-warning-contrast: var(--awc-color-neutral-0);
    --awc-color-primary-light: var(--awc-color-color-03-400);
    --awc-color-primary-dark: var(--awc-color-color-03-950);
    --awc-color-warning-main: var(--awc-color-orange-600);
    --awc-color-success-contrast: var(--awc-color-neutral-0);
    --awc-font-size-base: var(--awc-font-size-medium);
    --awc-font-size-heading4: var(--awc-font-size-2xlarge);
    --awc-color-success-main: var(--awc-color-green-600);
    --awc-background-color: var(--awc-color-neutral-0);
    --awc-font-size-heading3: var(--awc-font-size-3xlarge);
    --awc-font-size-heading2: var(--awc-font-size-4xlarge);
    --awc-button-font-size-small: var(--awc-font-size-xsmall);
    --awc-button-font-size-medium: var(--awc-font-size-small);
    --awc-stepper-border-radius: var(--awc-border-radius-pill);
    --awc-color-neutral-200: var(--awc-color-gray-200);
    --awc-section-spacing-text-image-desktop: var(--awc-spacing-5xlarge);
    --awc-section-spacing-text-image-mobile: var(--awc-spacing-3xlarge);
    --awc-input-border-color-focus: var(--awc-color-color-01-600);
    --awc-tooltip-padding-y: var(--awc-spacing-2xsmall);
    --awc-section-spacing-title-text-desktop: var(--awc-spacing-medium);
    --awc-section-spacing-title-text-mobile: var(--awc-spacing-xsmall);
    --awc-color-primary-main: var(--awc-color-color-03-default);
    --awc-color-neutral-950: var(--awc-color-gray-950);
    --awc-section-spacing-button-button-desktop: var(--awc-spacing-small);
    --awc-section-spacing-button-button-mobile: var(--awc-spacing-xsmall);
    --awc-input-required-content-color: var(--awc-color-red-600);
    --awc-input-required-content-offset: var(--awc-spacing-3xsmall);
    --awc-color-tertiary-dark: var(--awc-color-color-01-800);
    --awc-color-tertiary-main: var(--awc-color-color-01-default);
    --awc-input-border-radius-small: var(--awc-border-radius-medium);
    --awc-input-border-radius-medium: var(--awc-border-radius-medium);
    --awc-card-background-color: var(--awc-color-neutral-0);
    --awc-panel-padding: var(--awc-spacing-xlarge);
    --awc-tooltip-font-weight: 400;
    --awc-tooltip-border-radius: var(--awc-border-radius-medium);
    --awc-color-tertiary-contrast: var(--awc-color-green-950);
    --awc-input-letter-spacing: var(--awc-letter-spacing-normal);
    --awc-input-help-text-font-size-large: var(--awc-font-size-medium);
    --awc-section-spacing-headline-title-desktop: var(--awc-spacing-2xsmall);
    --awc-input-spacing-medium: var(--awc-spacing-medium);
    --awc-color-warning-light: var(--awc-color-orange-400);
    --awc-input-label-font-size-large: var(--awc-font-size-large);
    --awc-color-neutral-100: var(--awc-color-gray-100);
    --awc-input-font-size-medium: var(--awc-font-size-medium);
    --awc-input-border-radius-large: var(--awc-border-radius-medium);
    --awc-button-font-size-large: var(--awc-font-size-medium);
    --awc-tooltip-line-height: var(--awc-line-height-dense);
    --awc-color-danger-light: var(--awc-color-red-400);
    --awc-tooltip-color: var(--awc-color-neutral-0);
    --awc-section-spacing-button-text-desktop: var(--awc-spacing-4xlarge);
    --awc-color-neutral-900: var(--awc-color-gray-900);
    --awc-text-sets-01-xl: var(--awc-font-size-7xlarge);
    --awc-input-label-font-size-small: var(--awc-font-size-small);
    --awc-tag-border-radius: var(--awc-border-radius-pill);
    --awc-input-help-text-font-size-small: var(--awc-font-size-xsmall);
    --awc-color-success-light: var(--awc-color-green-400);
    --awc-color-neutral-600: var(--awc-color-gray-600);
    --awc-color-success-dark: var(--awc-color-green-800);
    --awc-input-font-size-small: var(--awc-font-size-small);
    --awc-input-font-family: var(--awc-font-sans);
    --awc-button-border-radius: var(--awc-border-radius-small);
    --awc-input-font-size-large: var(--awc-font-size-large);
    --awc-color-neutral-500: var(--awc-color-gray-500);
    --awc-tooltip-padding-x: var(--awc-spacing-xsmall);
    --awc-badge-border-radius: var(--awc-border-radius-pill);
    --awc-tooltip-font-size: var(--awc-font-size-small);
    --awc-text-accent-color: var(--awc-color-color-03-700);
    --awc-tooltip-font-family: var(--awc-font-sans);
    --awc-section-spacing-headline-title-mobile: var(--awc-spacing-3xsmall);
    --awc-input-spacing-small: var(--awc-spacing-small);
    --awc-color-danger-dark: var(--awc-color-red-800);
    --awc-input-spacing-large: var(--awc-spacing-large);
    --awc-section-spacing-button-text-mobile: var(--awc-spacing-2xlarge);
    --awc-color-neutral-800: var(--awc-color-gray-800);
    --awc-panel-background-color: var(--awc-color-neutral-0);
    --awc-color-neutral-300: var(--awc-color-gray-300);
    --awc-color-tertiary-light: var(--awc-color-color-01-400);
    --awc-input-label-font-size-medium: var(--awc-font-size-medium);
    --awc-color-warning-dark: var(--awc-color-orange-800);
    --awc-color-neutral-700: var(--awc-color-gray-700);
    --awc-card-border-radius: var(--awc-border-radius-xlarge);
    --awc-input-help-text-font-size-medium: var(--awc-font-size-small);
    --awc-text-sets-01-lg: var(--awc-font-size-6xlarge);
    --awc-color-neutral-400: var(--awc-color-gray-400);
    --awc-card-padding: var(--awc-spacing-xlarge);
    --awc-text-primary-color: var(--awc-color-color-03-950);
    --awc-panel-border-radius: var(--awc-border-radius-medium);
    --awc-text-sets-01-base: var(--awc-font-size-5xlarge);
    --awc-image-border-radius: var(--awc-border-radius-2xlarge);
    --awc-input-font-weight: 400;
    --awc-input-background-color-disabled: var(--awc-color-neutral-100);
    --awc-input-color-hover: var(--awc-color-neutral-700);
    --awc-input-color-default: var(--awc-color-neutral-700);
    --awc-input-border-color-disabled: var(--awc-color-neutral-300);
    --awc-input-filled-color: var(--awc-color-neutral-800);
    --awc-input-filled-background-color: var(--awc-color-neutral-100);
    --awc-input-border-color-hover: var(--awc-color-neutral-400);
    --awc-input-border-color-default: var(--awc-color-neutral-300);
    --awc-input-icon-color: var(--awc-color-neutral-500);
    --awc-input-color-disabled: var(--awc-color-neutral-900);
    --awc-text-disabled-color: var(--awc-color-neutral-400);
    --awc-text-secondary-color: var(--awc-color-neutral-700);
    --awc-tooltip-background-color: var(--awc-color-neutral-800);
    --awc-input-help-text-color: var(--awc-color-neutral-500);
    --awc-input-color-focus: var(--awc-color-neutral-700);
    --awc-input-placeholder-color: var(--awc-color-neutral-500);
    --awc-panel-border-color: var(--awc-color-neutral-200);
    --awc-color-secondary-contrast: var(--awc-color-neutral-50);
    --awc-card-border-color: var(--awc-color-neutral-200);
  }

  :host,
  .awc-theme-dark,
  :is([data-mode='light'] .dark\:awc-theme-dark),
  [data-mode='dark'] {
    color-scheme: 'dark';

    --awc-shadow-medium-spread: 0.25rem;
    --awc-shadow-medium-color: rgba(113, 113, 122, 0.12);
    --awc-color-secondary-states-outlined-border: rgba(221, 182, 40, 0.5);
    --awc-section-padding-y-mobile: 2.5rem;
    --awc-section-padding-y-desktop: 5rem;
    --awc-color-gray-300: rgb(212, 212, 216);
    --awc-color-gray-400: rgb(161, 161, 170);
    --awc-section-padding-x-mobile: 1rem;
    --awc-section-padding-x-desktop: 7.5rem;
    --awc-color-gray-700: rgb(63, 63, 70);
    --awc-color-gray-800: rgb(39, 39, 42);
    --awc-color-tertiary-states-hover: rgba(166, 198, 56, 0.04);
    --awc-color-tertiary-states-selected: rgba(166, 198, 56, 0.08);
    --awc-color-color-01-50: rgb(35, 42, 12);
    --awc-color-color-01-100: rgb(57, 68, 19);
    --awc-color-tertiary-states-focus: rgba(166, 198, 56, 0.12);
    --awc-color-tertiary-states-focus-visible: rgba(166, 198, 56, 0.3);
    --awc-color-color-01-400: rgb(118, 141, 40);
    --awc-color-color-01-500: rgb(143, 171, 48);
    --awc-color-tertiary-states-outlined-border: rgba(166, 198, 56, 0.5);
    --awc-color-transparent: rgba(0, 0, 0, 0);
    --awc-color-color-01-800: rgb(198, 237, 67);
    --awc-color-color-01-900: rgb(220, 248, 127);
    --awc-breakpoint-figma: 90rem;
    --awc-breakpoint-2xlarge: 96rem;
    --awc-color-color-02-50: rgb(46, 38, 8);
    --awc-color-color-02-100: rgb(75, 62, 14);
    --awc-breakpoint-xlarge: 80rem;
    --awc-breakpoint-large: 64rem;
    --awc-color-color-02-400: rgb(157, 129, 28);
    --awc-color-color-02-500: rgb(190, 156, 34);
    --awc-color-success-states-hover: rgba(122, 203, 152, 0.04);
    --awc-color-success-states-selected: rgba(122, 203, 152, 0.08);
    --awc-color-color-02-800: rgb(254, 220, 95);
    --awc-color-color-02-900: rgb(255, 236, 169);
    --awc-color-success-states-focus: rgba(122, 203, 152, 0.12);
    --awc-color-success-states-focus-visible: rgba(122, 203, 152, 0.3);
    --awc-color-color-03-50: rgb(0, 45, 33);
    --awc-color-color-03-100: rgb(0, 73, 53);
    --awc-color-success-states-outlined-border: rgba(122, 203, 152, 0.5);
    --awc-breakpoint-medium: 48rem;
    --awc-color-color-03-400: rgb(84, 143, 127);
    --awc-color-color-03-500: rgb(124, 169, 157);
    --awc-breakpoint-small: 40rem;
    --awc-z-index-tooltip: 1000;
    --awc-color-color-03-800: rgb(210, 225, 221);
    --awc-color-color-03-900: rgb(229, 238, 236);
    --awc-z-index-toast: 950;
    --awc-color-warning-states-hover: rgba(230, 177, 88, 0.04);
    --awc-transition-xslow: 1000ms;
    --awc-font-weight-normal: 400;
    --awc-color-color-03-950: rgb(245, 251, 247);
    --awc-shadow-xlarge-blur: 1rem;
    --awc-color-danger-states-outlined-border: rgba(241, 167, 167, 0.5);
    --awc-color-color-01-200: rgb(80, 95, 27);
    --awc-font-size-3xlarge: 1.875rem;
    --awc-tooltip-arrow-size: 0.375rem;
    --awc-z-index-dropdown: 900;
    --awc-input-required-content: '*';
    --awc-color-gray-100: rgb(244, 244, 245);
    --awc-border-radius-pill: 624.9375rem;
    --awc-color-secondary-states-selected: rgba(221, 182, 40, 0.08);
    --awc-spacing-large: 1.25rem;
    --awc-color-red-600: rgb(241, 167, 167);
    --awc-font-serif: Georgia;
    --awc-color-color-02-600: rgb(221, 182, 40);
    --awc-line-height-loose: 180%;
    --awc-color-orange-100: rgb(88, 57, 2);
    --awc-color-warning-states-selected: rgba(230, 177, 88, 0.08);
    --awc-toggle-size-small: 0.875rem;
    --awc-color-danger-states-hover: rgba(241, 167, 167, 0.04);
    --awc-color-orange-500: rgb(219, 144, 17);
    --awc-border-radius-large: 0.5rem;
    --awc-color-primary-states-focus: rgba(238, 164, 201, 0.12);
    --awc-shadow-medium-x: 0;
    --awc-shadow-xsmall-blur: 0.125rem;
    --awc-focus-ring-width: 0.1875rem;
    --awc-shadow-large-spread: 0.5rem;
    --awc-color-red-200: rgb(174, 30, 30);
    --awc-spacing-2xsmall: 0.25rem;
    --awc-color-gray-500: rgb(113, 113, 122);
    --awc-spacing-4xlarge: 2.25rem;
    --awc-color-green-800: rgb(194, 231, 207);
    --awc-transition-xfast: 50ms;
    --awc-color-color-01-950: rgb(246, 253, 220);
    --awc-font-size-medium: 1rem;
    --awc-color-red-950: rgb(254, 248, 248);
    --awc-font-size-7xlarge: 4.5rem;
    --awc-color-color-03-200: rgb(20, 101, 79);
    --awc-letter-spacing-looser: 0.15em;
    --awc-color-green-50: rgb(6, 45, 21);
    --awc-letter-spacing-denser: -0.03em;
    --awc-toggle-size-large: 1.375rem;
    --awc-color-warning-states-focus-visible: rgba(230, 177, 88, 0.3);
    --awc-color-orange-300: rgb(151, 96, 4);
    --awc-z-index-drawer: 700;
    --awc-input-focus-ring-color: rgba(215, 43, 128, 0.4);
    --awc-color-danger-states-focus: rgba(241, 167, 167, 0.12);
    --awc-color-green-200: rgb(14, 103, 47);
    --awc-border-radius-small: 0.1875rem;
    --awc-color-primary-states-hover: rgba(238, 164, 201, 0.04);
    --awc-border-radius-2xlarge: 1.5rem;
    --awc-color-orange-700: rgb(237, 202, 140);
    --awc-shadow-xsmall-x: 0;
    --awc-color-primary-states-outlined-border: rgba(238, 164, 201, 0.5);
    --awc-shadow-small-spread: 0.125rem;
    --awc-shadow-xsmall-color: rgba(113, 113, 122, 0.06);
    --awc-input-height-small: 1.875rem;
    --awc-shadow-medium-blur: 0.25rem;
    --awc-color-red-50: rgb(79, 14, 14);
    --awc-shadow-large-y: 0.125rem;
    --awc-card-border-width: 0.0625rem;
    --awc-shadow-xlarge-x: 0;
    --awc-color-green-600: rgb(122, 203, 152);
    --awc-shadow-xlarge-color: rgba(113, 113, 122, 0.12);
    --awc-color-secondary-states-focus-visible: rgba(221, 182, 40, 0.3);
    --awc-spacing-small: 0.75rem;
    --awc-color-red-400: rgb(227, 82, 82);
    --awc-spacing-2xlarge: 1.75rem;
    --awc-color-gray-900: rgb(24, 24, 27);
    --awc-spacing-6xlarge: 3rem;
    --awc-color-color-04-950: rgb(249, 249, 254);
    --awc-transition-medium: 250ms;
    --awc-color-color-01-600: rgb(166, 198, 56);
    --awc-font-sans: Poppins;
    --awc-color-red-800: rgb(248, 214, 214);
    --awc-font-size-xsmall: 0.75rem;
    --awc-color-color-02-200: rgb(106, 87, 19);
    --awc-font-size-xlarge: 1.25rem;
    --awc-color-green-950: rgb(245, 251, 247);
    --awc-font-size-5xlarge: 3rem;
    --awc-color-color-02-950: rgb(255, 249, 230);
    --awc-font-size-9xlarge: 5rem;
    --awc-color-gray-200: rgb(228, 228, 231);
    --awc-line-height-dense: 120%;
    --awc-color-color-03-600: rgb(160, 193, 184);
    --awc-letter-spacing-normal: normal;
    --awc-color-color-04-600: rgb(179, 180, 244);
    --awc-font-weight-semibold: 600;
    --awc-color-color-04-50: rgb(29, 30, 94);
    --awc-color-color-04-100: rgb(46, 48, 152);
    --awc-color-orange-200: rgb(124, 80, 3);
    --awc-color-warning-states-focus: rgba(230, 177, 88, 0.12);
    --awc-toggle-size-medium: 1.125rem;
    --awc-color-warning-states-outlined-border: rgba(230, 177, 88, 0.5);
    --awc-color-green-100: rgb(10, 73, 33);
    --awc-z-index-dialog: 800;
    --awc-input-label-color: inherit;
    --awc-line-height-looser: 220%;
    --awc-color-orange-400: rgb(184, 118, 5);
    --awc-color-danger-states-selected: rgba(241, 167, 167, 0.08);
    --awc-input-focus-ring-offset: 0;
    --awc-color-danger-states-focus-visible: rgba(241, 167, 167, 0.3);
    --awc-color-color-04-700: rgb(202, 203, 248);
    --awc-border-radius-none: 0;
    --awc-color-neutral-1000: rgb(255, 255, 255);
    --awc-border-radius-medium: 0.25rem;
    --awc-color-orange-600: rgb(230, 177, 88);
    --awc-border-radius-xlarge: 1rem;
    --awc-color-primary-states-selected: rgba(238, 164, 201, 0.08);
    --awc-border-radius-3xlarge: 2rem;
    --awc-color-green-300: rgb(17, 125, 57);
    --awc-border-radius-circle: 50%;
    --awc-color-primary-states-focus-visible: rgba(238, 164, 201, 0.3);
    --awc-shadow-xsmall-y: 0.0625rem;
    --awc-color-orange-800: rgb(243, 219, 178);
    --awc-shadow-xsmall-spread: 0.125rem;
    --awc-input-border-width: 0.0625rem;
    --awc-shadow-small-blur: 0.125rem;
    --awc-shadow-small-x: 0;
    --awc-input-height-medium: 2.5rem;
    --awc-shadow-small-color: rgba(113, 113, 122, 0.12);
    --awc-color-orange-950: rgb(253, 249, 242);
    --awc-shadow-medium-y: 0.125rem;
    --awc-focus-ring-offset: 0.0625rem;
    --awc-color-gray-50: rgb(249, 249, 249);
    --awc-color-green-500: rgb(66, 180, 108);
    --awc-shadow-large-x: 0;
    --awc-focus-ring-style: solid;
    --awc-shadow-large-blur: 0.5rem;
    --awc-color-red-100: rgb(125, 22, 22);
    --awc-shadow-large-color: rgba(113, 113, 122, 0.12);
    --awc-color-secondary-states-hover: rgba(221, 182, 40, 0.04);
    --awc-shadow-xlarge-y: 0.25rem;
    --awc-color-color-04-900: rgb(235, 235, 252);
    --awc-shadow-xlarge-spread: 1rem;
    --awc-color-secondary-states-focus: rgba(221, 182, 40, 0.12);
    --awc-spacing-3xsmall: 0.125rem;
    --awc-color-red-300: rgb(209, 36, 36);
    --awc-spacing-xsmall: 0.5rem;
    --awc-letter-spacing-dense: -0.015em;
    --awc-spacing-medium: 1rem;
    --awc-color-green-700: rgb(164, 219, 184);
    --awc-spacing-xlarge: 1.5rem;
    --awc-color-gray-600: rgb(82, 82, 91);
    --awc-spacing-3xlarge: 2rem;
    --awc-color-red-500: rgb(235, 129, 129);
    --awc-spacing-5xlarge: 2.5rem;
    --awc-color-gray-950: rgb(19, 19, 22);
    --awc-spacing-7xlarge: 4.5rem;
    --awc-color-color-04-500: rgb(150, 151, 240);
    --awc-transition-slow: 500ms;
    --awc-color-color-01-300: rgb(97, 115, 33);
    --awc-transition-fast: 150ms;
    --awc-color-red-700: rgb(245, 194, 194);
    --awc-font-mono: SFMono-Regular;
    --awc-color-color-01-700: rgb(184, 220, 62);
    --awc-font-heading: Manrope;
    --awc-color-green-900: rgb(220, 241, 228);
    --awc-font-size-2xsmall: 0.625rem;
    --awc-color-color-01-default: rgb(205, 245, 69);
    --awc-font-size-small: 0.875rem;
    --awc-color-red-900: rgb(251, 232, 232);
    --awc-font-size-large: 1.125rem;
    --awc-color-color-02-300: rgb(129, 106, 23);
    --awc-font-size-2xlarge: 1.5rem;
    --awc-color-color-04-default: rgb(70, 73, 229);
    --awc-font-size-4xlarge: 2.25rem;
    --awc-color-color-02-700: rgb(246, 202, 44);
    --awc-font-size-6xlarge: 3.75rem;
    --awc-color-neutral-0: rgb(0, 0, 0);
    --awc-font-size-8xlarge: 4.75rem;
    --awc-color-color-02-default: rgb(254, 209, 46);
    --awc-font-size-10xlarge: 5.25rem;
    --awc-color-orange-50: rgb(55, 35, 2);
    --awc-line-height-normal: 140%;
    --awc-color-color-03-300: rgb(49, 120, 101);
    --awc-line-height-denser: 100%;
    --awc-panel-border-width: 0.0625rem;
    --awc-letter-spacing-loose: 0.075em;
    --awc-color-color-03-700: rgb(189, 211, 205);
    --awc-font-weight-light: 300;
    --awc-color-color-04-300: rgb(87, 89, 231);
    --awc-font-weight-medium: 500;
    --awc-color-color-03-default: rgb(0, 88, 64);
    --awc-font-weight-bold: 700;
    --awc-overlay-background-color: rgba(113, 113, 122, 0.33);
    --awc-color-color-04-200: rgb(65, 68, 212);
    --awc-color-color-04-400: rgb(117, 119, 236);
    --awc-color-color-04-800: rgb(219, 220, 250);
    --awc-color-green-400: rgb(20, 152, 69);
    --awc-color-orange-900: rgb(248, 235, 211);
    --awc-input-height-large: 3.125rem;
    --awc-shadow-small-y: 0.0625rem;
    --awc-color-neutral-50: var(--awc-color-gray-950);
    --awc-input-background-color-default: var(--awc-color-neutral-0);
    --awc-input-background-color-hover: var(--awc-color-neutral-0);
    --awc-input-background-color-focus: var(--awc-color-neutral-0);
    --awc-font-size-heading6: var(--awc-font-size-large);
    --awc-font-size-heading5: var(--awc-font-size-xlarge);
    --awc-focus-ring-color: var(--awc-color-color-01-800);
    --awc-color-secondary-light: var(--awc-color-color-02-400);
    --awc-color-secondary-dark: var(--awc-color-color-02-800);
    --awc-color-secondary-main: var(--awc-color-color-02-600);
    --awc-color-danger-contrast: var(--awc-color-neutral-0);
    --awc-color-danger-light: var(--awc-color-red-400);
    --awc-color-primary-contrast: var(--awc-color-neutral-0);
    --awc-color-primary-light: var(--awc-color-color-03-400);
    --awc-color-warning-contrast: var(--awc-color-neutral-0);
    --awc-color-warning-light: var(--awc-color-orange-400);
    --awc-color-primary-dark: var(--awc-color-color-03-800);
    --awc-font-size-base: var(--awc-font-size-medium);
    --awc-color-success-contrast: var(--awc-color-neutral-0);
    --awc-color-success-light: var(--awc-color-green-400);
    --awc-font-size-heading4: var(--awc-font-size-2xlarge);
    --awc-font-size-heading3: var(--awc-font-size-3xlarge);
    --awc-background-color: var(--awc-color-neutral-0);
    --awc-image-border-radius: var(--awc-border-radius-2xlarge);
    --awc-font-size-heading2: var(--awc-font-size-4xlarge);
    --awc-panel-border-radius: var(--awc-border-radius-medium);
    --awc-button-font-size-medium: var(--awc-font-size-small);
    --awc-button-font-size-large: var(--awc-font-size-medium);
    --awc-stepper-border-radius: var(--awc-border-radius-pill);
    --awc-input-border-color-focus: var(--awc-color-color-01-600);
    --awc-section-spacing-text-image-mobile: var(--awc-spacing-3xlarge);
    --awc-section-spacing-headline-title-desktop: var(--awc-spacing-2xsmall);
    --awc-color-neutral-200: var(--awc-color-gray-800);
    --awc-color-primary-main: var(--awc-color-color-03-600);
    --awc-section-spacing-title-text-mobile: var(--awc-spacing-xsmall);
    --awc-section-spacing-button-text-desktop: var(--awc-spacing-4xlarge);
    --awc-color-neutral-950: var(--awc-color-gray-50);
    --awc-input-required-content-color: var(--awc-color-red-600);
    --awc-section-spacing-button-button-mobile: var(--awc-spacing-xsmall);
    --awc-color-tertiary-contrast: var(--awc-color-neutral-0);
    --awc-input-required-content-offset: var(--awc-spacing-3xsmall);
    --awc-input-border-radius-small: var(--awc-border-radius-medium);
    --awc-color-tertiary-main: var(--awc-color-color-01-600);
    --awc-tag-border-radius: var(--awc-border-radius-pill);
    --awc-input-border-radius-medium: var(--awc-border-radius-medium);
    --awc-input-border-radius-large: var(--awc-border-radius-medium);
    --awc-panel-padding: var(--awc-spacing-xlarge);
    --awc-tooltip-font-size: var(--awc-font-size-small);
    --awc-tooltip-color: var(--awc-color-neutral-0);
    --awc-section-spacing-button-button-desktop: var(--awc-spacing-small);
    --awc-input-letter-spacing: var(--awc-letter-spacing-normal);
    --awc-input-help-text-font-size-large: var(--awc-font-size-medium);
    --awc-section-spacing-text-image-desktop: var(--awc-spacing-5xlarge);
    --awc-input-spacing-medium: var(--awc-spacing-medium);
    --awc-color-danger-main: var(--awc-color-red-600);
    --awc-input-label-font-size-large: var(--awc-font-size-large);
    --awc-card-background-color: var(--awc-color-neutral-0);
    --awc-input-font-size-medium: var(--awc-font-size-medium);
    --awc-color-neutral-500: var(--awc-color-gray-500);
    --awc-button-font-size-small: var(--awc-font-size-xsmall);
    --awc-tooltip-padding-x: var(--awc-spacing-xsmall);
    --awc-font-size-heading1: var(--awc-font-size-5xlarge);
    --awc-tooltip-font-family: var(--awc-font-sans);
    --awc-section-spacing-title-text-desktop: var(--awc-spacing-medium);
    --awc-color-neutral-900: var(--awc-color-gray-100);
    --awc-text-sets-01-xl: var(--awc-font-size-7xlarge);
    --awc-input-label-font-size-small: var(--awc-font-size-small);
    --awc-color-tertiary-dark: var(--awc-color-color-01-800);
    --awc-input-help-text-font-size-small: var(--awc-font-size-xsmall);
    --awc-color-warning-main: var(--awc-color-orange-600);
    --awc-color-neutral-600: var(--awc-color-gray-400);
    --awc-color-secondary-contrast: var(--awc-color-neutral-0);
    --awc-input-font-size-small: var(--awc-font-size-small);
    --awc-input-font-family: var(--awc-font-sans);
    --awc-button-border-radius: var(--awc-border-radius-small);
    --awc-input-font-size-large: var(--awc-font-size-large);
    --awc-color-neutral-400: var(--awc-color-gray-600);
    --awc-tooltip-padding-y: var(--awc-spacing-2xsmall);
    --awc-badge-border-radius: var(--awc-border-radius-pill);
    --awc-tooltip-line-height: var(--awc-line-height-dense);
    --awc-text-accent-color: var(--awc-color-color-01-default);
    --awc-tooltip-font-weight: 400;
    --awc-section-spacing-headline-title-mobile: var(--awc-spacing-3xsmall);
    --awc-input-spacing-small: var(--awc-spacing-small);
    --awc-color-danger-dark: var(--awc-color-red-800);
    --awc-input-spacing-large: var(--awc-spacing-large);
    --awc-section-spacing-button-text-mobile: var(--awc-spacing-2xlarge);
    --awc-color-neutral-800: var(--awc-color-gray-200);
    --awc-color-neutral-100: var(--awc-color-gray-900);
    --awc-tooltip-border-radius: var(--awc-border-radius-medium);
    --awc-color-tertiary-light: var(--awc-color-color-01-400);
    --awc-input-label-font-size-medium: var(--awc-font-size-medium);
    --awc-color-warning-dark: var(--awc-color-orange-800);
    --awc-color-neutral-700: var(--awc-color-gray-300);
    --awc-card-border-radius: var(--awc-border-radius-xlarge);
    --awc-input-help-text-font-size-medium: var(--awc-font-size-small);
    --awc-text-sets-01-lg: var(--awc-font-size-6xlarge);
    --awc-color-neutral-300: var(--awc-color-gray-700);
    --awc-card-padding: var(--awc-spacing-xlarge);
    --awc-color-success-dark: var(--awc-color-green-800);
    --awc-text-primary-color: var(--awc-color-neutral-1000);
    --awc-panel-background-color: var(--awc-color-neutral-0);
    --awc-text-sets-01-base: var(--awc-font-size-5xlarge);
    --awc-color-success-main: var(--awc-color-green-600);
    --awc-input-font-weight: 400;
    --awc-input-background-color-disabled: var(--awc-color-neutral-100);
    --awc-input-color-hover: var(--awc-color-neutral-700);
    --awc-input-color-default: var(--awc-color-neutral-700);
    --awc-input-help-text-color: var(--awc-color-neutral-500);
    --awc-input-filled-color: var(--awc-color-neutral-800);
    --awc-input-border-color-disabled: var(--awc-color-neutral-300);
    --awc-input-border-color-hover: var(--awc-color-neutral-400);
    --awc-input-placeholder-color: var(--awc-color-neutral-500);
    --awc-input-icon-color: var(--awc-color-neutral-500);
    --awc-input-border-color-default: var(--awc-color-neutral-300);
    --awc-text-disabled-color: var(--awc-color-neutral-400);
    --awc-tooltip-background-color: var(--awc-color-neutral-800);
    --awc-input-color-focus: var(--awc-color-neutral-700);
    --awc-input-color-disabled: var(--awc-color-neutral-900);
    --awc-input-filled-background-color: var(--awc-color-neutral-100);
    --awc-panel-border-color: var(--awc-color-neutral-200);
    --awc-text-secondary-color: var(--awc-color-neutral-700);
    --awc-card-border-color: var(--awc-color-neutral-200);
  }
}
